<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.waterualitymonitor.respository.TjcRecordingMapper">

    <select id="getOne()" resultType="com.example.waterualitymonitor.domain.TjcRecording">
    select *from Tjc_recording order by time limit 1;
    </select>

    <select id="getTen()" resultType="com.example.waterualitymonitor.domain.TjcRecording">
    select *from Tjc_recording order by time limit 0,11;
    </select>

    <!--

     List<TjcRecording> getDay();
    List<TjcRecording> getWeek();
    List<TjcRecording> getYear();
    -->
    <select id="getDay()" resultType="com.example.waterualitymonitor.domain.TjcRecording">
    select *from Tjc_recording where  day ( time ) = day(now());;
    </select>

    <select id="getWeek()" resultType="com.example.waterualitymonitor.domain.TjcRecording">
    select *from Tjc_recording where time between #{start} and #{end}
    </select>

    <select id="getMonth()" resultType="com.example.waterualitymonitor.domain.TjcRecording">
    select *from Tjc_recording where  MONTH ( time ) = MONTH(now());;
    </select>


</mapper>